<%- include("../../views/partials/adminHeader") %>

        <!-- Main Content -->
        <div class="main-content">
            <!-- Top Header -->
            <div class="top-header">
                <h2>Dashboard</h4>
                <div class="profile">
                    <img src="/img/avatar2.png" alt="" class="profile-pic">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
