<%- include("../../views/partials/adminHeader") %>

        <!-- Main Content -->
        <div class="main-content">
            <!-- Top Header -->
            <div class="top-header">
                <h2>Dashboard</h4>
                <div class="profile">
                    <img src="/img/avatar2.png" alt="" class="profile-pic">
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    document.getElementById('logout-btn').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default link behavior
        Swal.fire({
            title: 'Are you sure?',
            text: 'You will be logged out of your account.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, log out',
            cancelButtonText: 'No, stay logged in'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/logout'; // Proceed with logout if user clicks "Yes"
            }
        });
    });
</script>
