</main>
<script src="/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/js/vendors/select2.min.js"></script>
<script src="/js/vendors/perfect-scrollbar.js"></script>
<script src="/js/vendors/jquery.fullscreen.min.js"></script>
<script src="/js/vendors/chart.js"></script>
<script src="/js/vendors/main.js" type="text/javascript"></script>
<script src="/js/vendors/custom-chart.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
