
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f7f7f7;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .reset-password-container {
      background-color: white;
      width: 400px;
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .reset-password-container h2 {
      text-align: center;
      color: #ff3f6c;
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
      font-size: 14px;
      color: #333;
    }

    .form-group input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
      outline: none;
    }

    .form-group input:focus {
      border-color: #ff3f6c;
    }

    .reset-btn {
      background-color: #ff3f6c;
      color: white;
      padding: 10px 15px;
      width: 100%;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      margin-top: 20px;
      transition: background-color 0.3s;
    }

    .reset-btn:hover {
      background-color: #e2335d;
    }

    .back-to-login {
      display: block;
      text-align: center;
      margin-top: 20px;
      color: #ff3f6c;
      text-decoration: none;
      font-size: 14px;
    }

    .back-to-login:hover {
      text-decoration: underline;
    }
	.login.slide-up .form-title span {
	margin-right: 5px;
	opacity: 1;
	visibility: visible;
	transition: all .3s ease;
}
.error-message{
	color: red;
	font-size: 0.68rem;
	display: none;
	margin-left: 29px;
}

.error-message2 {
    color: red; /* or another color that stands out */
    margin-top: 10px; /* Add some spacing */
}

.error-message.show-error {
    display: block;
}

        
/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #ffffff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}


@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

    </style>
    
</head>
<body>
     <!-- Page Preloder -->
     <div id="preloder">
        <div class="loader"></div>
    </div>


  <div class="reset-password-container">
    <h2>Sign Up</h2>
	<form id="signform" action="/signup" method="post" onsubmit="return validateForm(event)"> 
		<div class="form-group">
			<input type="text" name="name" id="name" class="input" placeholder="Name" />
			<div id="error1" class="error-message"></div>
       </div>
	   <div class="form-group">
		<input type="email" name="email" id="email" class="input" placeholder="Email" />
		<div id="error3" class="error-message"></div>
       </div>
	   <div class="form-group">
		<input type="text" name="phone" id="phone" class="input" placeholder="Phone" />
		<div id="error2" class="error-message"></div>
       </div>
	   <div class="form-group">
		<input type="password" name="password" id="password" class="input" placeholder="Password" />
		<div id="error4" class="error-message"></div>
       </div>
	   <div class="form-group">
		<input type="password" name="cpassword" id="cpassword" class="input" placeholder="Confirm Password" />
		<div id="error5" class="error-message"></div>
       </div>
	   <div class="form-group">
		<input type="text" name="referalCode" id="referalCode" class="input" placeholder="Referral Code (optional)" />
		<% if (message !== "") { %>
			<div class="error-message2"><%= message %></div>
		<% } %>
	</div>          
      <button type="submit" class="reset-btn">Sign Up</button>
	  
	  <div style="align-items: center; margin-top: 0px;margin-left: 30%;align-items: center;" class="center">
		<a href="/auth/google" style="text-decoration: none; margin-top: 0px;">
			<img style="height: 28px; width: 34px; margin-left: 58px; margin-bottom: 5px;" src="img/google.png"><br>
			<p style="color: rgb(37, 37, 159); width: 200px; margin: 0; line-height: 1; margin-bottom: 5px;">use Google account</p>
			<!-- <a style="text-decoration: none;font-size: medium;margin-left: 15%;" href="/login">Or Login</a> -->
		</a>
	</div>    
    <a href="/" class="back-to-login">Back to Home</a>
	</form>
 
  </div>

</body>

<script>
	const nameid = document.getElementById("name");
	const phoneid = document.getElementById("phone");
	const passwordid = document.getElementById("password");
	const emailid = document.getElementById("email");
	const cpasswordid = document.getElementById("cpassword");

	const error1 = document.getElementById("error1");
	const error2 = document.getElementById("error2");
	const error3 = document.getElementById("error3");
	const error4 = document.getElementById("error4");
	const error5 = document.getElementById("error5");

	function validateForm(e) {
nameValidateChecking();
phoneValidateChecking();
emailValidateChecking();
passValidateChecking();

if (nameid.value.trim() === "" || emailid.value.trim() === "" || phoneid.value.trim() === "" || passwordid.value.trim() === "" || cpasswordid.value.trim() === "" ||
	error1.innerHTML || error2.innerHTML || error3.innerHTML || error4.innerHTML || error5.innerHTML) {
	e.preventDefault();
}
}

function nameValidateChecking() {
const nameval = nameid.value;
const namepattern = /^[a-zA-Z]+(?:[\s'-][a-zA-Z]+)*$/;

if (nameval.trim() == "") {
	error1.style.display = "block";
	error1.innerHTML = "please enter a valid name";
	error1.classList.add("show-error");
} else if (!namepattern.test(nameval)) {
	error1.style.display = "block";
	error1.innerHTML = "name can only contain Alphabets and spaces";
	error1.classList.add("show-error");
} else {
	error1.style.display = "none";
	error1.innerHTML = "";
	error1.classList.remove("show-error");
}
}

function emailValidateChecking() {
const emailval = emailid.value;
const emailpattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

if (emailval.trim() == "") {
	error3.style.display = "block";
	error3.innerHTML = "please enter a valid email";
	error3.classList.add("show-error");
} else if (!emailpattern.test(emailval)) {
	error3.style.display = "block";
	error3.innerHTML = "Invalid Format";
	error3.classList.add("show-error");
} else {
	error3.style.display = "none";
	error3.innerHTML = "";
	error3.classList.remove("show-error");
}
}

function phoneValidateChecking() {
const phoneval = phoneid.value.trim();
const phonepattern = /^[0-9]{10}$/;

if (phoneval.trim() === "") {
	error2.style.display = "block";
	error2.innerHTML = "Please enter a phone number";
	error2.classList.add("show-error");
} else if (!phonepattern.test(phoneval)) {
	error2.style.display = "block";
	error2.innerHTML = "Phone number must be exactly 10 digits";
	error2.classList.add("show-error");
} else {
	error2.style.display = "none";
	error2.innerHTML = "";
	error2.classList.remove("show-error");
}
}

function passValidateChecking() {
const passval = passwordid.value;
const cpassval = cpasswordid.value;
const alpha = /[a-zA-Z]/;
const digit = /\d/;

if (passval.trim() == "") {
	error4.style.display = "block";
	error4.innerHTML = "please enter a password";
	error4.classList.add("show-error");
} else if (passval.length < 6) {
	error4.style.display = "block";
	error4.innerHTML = "Password should contain atleast 6 characters";
	error4.classList.add("show-error");
} else if (!alpha.test(passval) || !digit.test(passval)) {
	error4.style.display = "block";
	error4.innerHTML = "Password should contain numbers and letters";
	error4.classList.add("show-error");
} else {
	error4.style.display = "none";
	error4.innerHTML = "";
	error4.classList.remove("show-error");
}

if (passval !== cpassval) {
	error5.style.display = "block";
	error5.innerHTML = "Password do not match";
	error5.classList.add("show-error");
} else {
	error5.style.display = "none";
	error5.innerHTML = "";
	error5.classList.remove("show-error");
}
}

</script>
<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>